---
title: "Members"
layout: default
excerpt: "Lab members"
sitemap: false
permalink: /members
---

<h1>{{page.title}}</h1>

<!-- Investigators -->

<h2><a id="investigator"></a>Investigators</h2>
{% assign members = site.posts | where: 'category', 'investigator' | where: 'alumni', 'false' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/pics/member-pics/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title"><a href={{member.url}}>{{ member.title }}</a></h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<!-- Staff -->

<h2><a id="staff"></a>Staff</h2>
{% assign members = site.posts | where: 'category', 'staff' | where: 'alumni', 'false' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/pics/member-pics/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
                <h4 class="card-title"><a href={{member.url}}>{{ member.title }}</a></h4>
                <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Postdocs -->

<h2><a id="postdoc"></a>Postdocs</h2>
{% assign members = site.posts | where: 'category', 'postdoc' | where: 'alumni', 'false' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/pics/member-pics/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
                <h4 class="card-title"><a href={{member.url}}>{{ member.title }}</a></h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Grad students -->

<h2><a id="graduate student"></a>Graduate Students</h2>
{% assign members = site.posts | where: 'category', 'graduate student' | where: 'alumni', 'false' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/pics/member-pics/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
                <h4 class="card-title"><a href={{member.url}}>{{ member.title }}</a></h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Undergrad students -->

 <h2><a id="undergraduate"></a>Undergraduates</h2>
{% assign members = site.posts | where: 'category', 'undergraduate' | where: 'alumni', 'false' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/pics/member-pics/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
                <h4 class="card-title"><a href={{member.url}}>{{ member.title }}</a></h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div> 
{% endfor %}

<!-- Alumni -->
<h2><a id="alumni"></a>Alumni</h2>

<div class="row">

<div class="col-sm-4 clearfix">
<h4><a id="postdoc alumni"></a>Postdocs</h2>
{% assign members = site.posts | where: 'category', 'postdoc'| where: 'alumni', 'true' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-10">
            <ul>
                <li><a href={{member.url}}>{{ member.short-name }}</a></li>
            </ul>
        </div>
    </div>
</div> 
{% endfor %}
</div> 

<div class="col-sm-4 clearfix">
<h4><a id="graduate alumni"></a>Graduate students</h2>
{% assign members = site.posts | where: 'category', 'graduate student'| where: 'alumni', 'true' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-10">
            <ul>
                <li><a href={{member.url}}>{{ member.short-name }}</a></li>
            </ul>
        </div>
    </div>
</div> 
{% endfor %}
</div> 

<div class="col-sm-4 clearfix">
<h4><a id="undergraduate alumni"></a>Undergrad alumni</h2>
{% assign members = site.posts | where: 'category', 'undergraduate'| where: 'alumni', 'true' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-10">
            <div class="card-body">
                <li><a href={{member.url}}>{{ member.title }}</a></li>
            </div>
        </div>
    </div>
</div> 
{% endfor %}
</div> 
