<div id="footer" class="site-footer mt-5">
	<div class="mt-3">
		<div class="row d-flex">

			<div class="col-sm-4">
				<p class="font-weight-bold">{{ site.title }}</p>

				<ul class="list-unstyled list-inline">
					<li class="list-inline-item">
						<a href="https://umn.edu/">
							<img class="img-fluid" src="/assets/images/logos/umn-simple.svg" style="max-height: 40px;">
						</a>
					</li>

					<li class="list-inline-item">
						<a href="https://umn.edu/">
							<img class="img-fluid" src="/assets/images/logos/abcd-study-logo.webp" style="max-height: 40px;">
						</a>
					</li>
				</ul>

			</div>

			<div class="col-sm-4">
				<p class="font-weight-bold">Links</p>
				<ul class="list-unstyled">
					<li><a href="https://github.com/petermgrund/lucianalab">Github Repo</a></li>
					<li><a href="https://cla.umn.edu/psychology">UMN Psych</a></li>
					<li><a href="https://abcdstudy.org/study-sites/uminn/">ABCD</a></li>
					<li><a href="https://midb.umn.edu/research/cnbd-clinical-research-center">CNBD</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<p class="font-weight-bold">Contact</p>

				{{ site.email }}<br>
				{{ site.number }}<br>
			</div>
		</div>

		<div class="footer-copyright text-center py-3">
			© 2020 {{ site.author }}
		</div>
	</div>
</div>
