<li class="media">
    <div class="media-body">

        <p>
            <!-- author -->
            {{ publication.Author }},

            <!-- year -->
            {{ publication['Publication Year'] | to_integer }},

            <!-- article title -->
            "{{ publication.Title }}",

            <!-- journal -->
            <span class="font-italic">{{ publication['Publication Title'] }}</span>,

            {% if publication.Volume != "" and publication.Issue != "" and publication.Pages != "" %}
                vol. {{ publication.Volume | to_integer }},
                no. {{ publication.Issue | to_integer }},
                pp. {{ publication.Pages }}
            {% endif %}

            <!-- DOI -->
            {% if publication.DOI %}
                <a href="https://doi.org/{{publication.DOI}}">DOI:{{publication.DOI}}</a>
            {% endif %}
        </p>

    </div>
</li>
