---
layout: default
---

<div class="alert alert-success" role="alert">
	<h4 class="alert-heading">Well done!</h4>
	<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
	<hr>
	<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div>

<div class="jumbotron">
	<h1 class="display-4">Welcome to the Luciana Lab</h1>
	<p class="lead">Brain and Behavioral Processes Laboratory at the University of Minnesota</p>
	<hr class="my-4">
	<p>We examine brain and behavior relationships in adults and adolescents, with a specific focus on the neurobiology of executive functions and their interfaces with motivational systems.</p>
	<p class="lead">
	  <a class="btn btn-primary btn-lg" href="/research" role="button">Learn more</a>
	</p>
  </div>

  <div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
  </div>

<div>
	{{ content }}
</div>
