---
layout: default
---

<div class="col-sm-12">
    <div class=row>
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/members">Members</a></li>
            <li class="breadcrumb-item text-capitalize"><a href="/members#{{ page.category }}">{{ page.category }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page.short-name }}</li>
        </ol>
        </nav>
    </div>
    <div class="row text-center">
        <!-- Avatar -->
        <img src="{{ site.url }}{{ site.baseurl }}/pics/member-pics/{{ page.image }}"
             class="img-circle"
             style="max-width: 200px;"/>

        <!-- Name & Role -->
        <h1>{{ page.title }}</h1>
        <h3>{{ page.role }}</h3>
        {% if page.alumni == true %}
        <h3><i>Alumni</i></h3>
        {% endif %}

        <!-- Social -->
        <ul class="list-inline list-unstyled">
            <!-- Twitter -->
            {% if page.social.twitter %}
                <li><a target="blank" href="{{page.social.twitter}}"><i class="fa fa-twitter"></i></a></li>
            {% endif %}
            <!-- Linkedin -->
            {% if page.social.linkedin %}
                <li><a target="blank" href="{{page.social.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
            {% endif %}
            <!-- Github -->
            {% if page.social.github %}
                <li><a target="blank" href="{{page.social.github}}"><i class="fa fa-github"></i></a></li>
            {% endif %}
            <!-- Personal Website -->
            {% if page.social.website %}
                <li><a target="blank" href="{{page.social.website}}"><i class="fa fa-globe"></i></a></li>
            {% endif %}
            <!-- Google Scholar -->
            {% if page.social.google-scholar %}
                <li><a target="blank" href="{{page.social.google-scholar}}"><i class="fa fa-google"></i></a></li>
            {% endif %}
            <!-- Research Gate -->
            {% if page.social.research-gate %}
                <li><a target="blank" href="{{page.social.research-gate}}"><i class="fa fa-google"></i></a></li>
            {% endif %}
        </ul>
    </div>

    <!-- Education -->
    <div class="row">
        <h3>Education</h3>
        <ul class="list-unstyled">
            {% for education in page.education %}
                <li>{{education}}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Contact -->
    <div class="row">
        <h3>Contact</h3>
        <ul class="list-unstyled">
            <!-- Email -->
            {% if page.contact.umn-email %}
                <li>Email: {{ page.contact.umn-email }}</a>
            {% endif %} 
            <!-- Phone -->    
            {% if page.contact.phone %}
                <li>Phone: {{ page.contact.phone }}</a>
            {% endif %} 
        </ul>
    </div>    

    <!-- Bio -->
    <div class="row">
        <h3>Bio</h3>
        {{ content }}
    </div>
</div>
