---
layout: textlay
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

<div class="col-sm-12">
    <div class=row>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white px-0">
                <li class="breadcrumb-item"><a href="/members">Lab members</a></li>
                <li class="breadcrumb-item text-capitalize"><a href="/members#{{ page.category }}">{{ page.category }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.short-name }}</li>
            </ol>
        </nav>
        
    </div>
    <div class="text-center mt-5">
        <!-- Avatar -->
        <img src="/assets/images/members/{{ page.image }}"
             style="max-width: 200px; border-radius: 50%;" />

        <!-- Name & Role -->
        <h1>{{ page.title }}</h1>
        <h4><strong>{{ page.role }}</strong></h4>
        {% if page.alumni == true %}
        <h4><i>Alumni</i></h4>
        {% endif %}

        <!-- Social -->
            <!-- Twitter -->
            {% if page.social.twitter %}
                <a target="blank" href="{{page.social.twitter}}"><i class="fab fa-twitter fa-1x"></i></a>
            {% endif %}
            <!-- Linkedin -->
            {% if page.social.linkedin %}
                <a target="blank" href="{{page.social.linkedin}}"><i class="fab fa-linkedin fa-1x"></i></a>
            {% endif %}
            <!-- Github -->
            {% if page.social.github %}
                <a target="blank" href="{{page.social.github}}"><i class="fab fa-github fa-1x"></i></a>
            {% endif %}
            <!-- Personal Website -->
            {% if page.social.website %}
                <a target="blank" href="{{page.social.website}}"><i class="fa fa-globe fa-1x"></i></a>
            {% endif %}
            <!-- Google Scholar -->
            {% if page.social.google-scholar %}
                <a target="blank" href="{{page.social.google-scholar}}"><i class="ai ai-google-scholar ai-1x"></i></a>
            {% endif %}
            <!-- Research Gate -->
            {% if page.social.research-gate %}
                <a target="blank" href="{{page.social.research-gate}}"><i class="ai ai-researchgate ai-1x"></i></a>
            {% endif %}
        </ul>
    </div>

<!-- Education -->
{% if page.education %}
<div>
    <h3>Education</h3>
    <ul class="list-unstyled">
        {% for education in page.education %}
        <li>{{ education }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

    <!-- Contact -->
    <div>
        <h3>Contact</h3>
        <ul class="list-unstyled">
            <!-- Email -->
            {% if page.contact.umn-email %}
                <li>Email: {{ page.contact.umn-email }}</a>
            {% endif %} 
            <!-- Phone -->    
            {% if page.contact.phone %}
                <li>Phone: {{ page.contact.phone }}</a>
            {% endif %} 
        </ul>
    </div>    

    <!-- Bio -->
    <div>
        <h3>Bio</h3>
        {{ content }}
    </div>


<!-- Publications -->

<div>
    <h3>Publications</h3>

{% for publication in site.data.publications %}
<ul class="list-unstyled">
  {{ publication.title }} <br />
  <em>{{ publication.authors }} </em><br /><a href="{{ publication.link.url }}">{{ publication.link.display }}</a>
</ul>
{% endfor %}
</div>
</div>